# Study on Decentraland

### Retrieve data from decentraland

In [2]:
import pandas as pd
import numpy as np
import datetime
import time
from tqdm import tqdm
from time import sleep

from scipy.interpolate import griddata

import matplotlib.pyplot as plt
import seaborn as sns

import requests
from pandas import json_normalize

pd.options.display.max_columns = None

In [3]:
    # data from decentraland
url_decentraland = "https://api.decentraland.org/"
response_tiles = requests.get(url_decentraland + "v2/tiles")
tiles = pd.DataFrame.from_dict(response_tiles.json()["data"], orient="index").reset_index(drop=True)
tiles = tiles.rename(columns={"id":"xy"})[["xy","x","y","type","estateId","owner","tokenId","name","price"]]

In [4]:
    # df save to csv
today = "220127"
tiles.to_csv('./retrieved_data/tiles/tile_info_{date}.csv'.format(date=today), header=True)

In [5]:
print(len(tiles))
print(tiles['x'].max(), tiles['y'].max())
print(tiles['x'].min(), tiles['y'].min())

92598
163 158
-150 -150

In [6]:
tiles.head(3)

,xy,x,y,type,estateId,owner,tokenId,name,price
0,"-150,150",-150,150,district,1186,0xa65be351527ebcf8c1707d1e444dac38b41a5faf,1157920892373161954235709850086879078022276296...,NaN,NaN
1,"-150,149",-150,149,district,1186,0xa65be351527ebcf8c1707d1e444dac38b41a5faf,1157920892373161954235709850086879078022276296...,NaN,NaN
2,"-150,148",-150,148,district,1186,0xa65be351527ebcf8c1707d1e444dac38b41a5faf,1157920892373161954235709850086879078022276296...,NaN,NaN

#### Private parcel owner

In [7]:
owner_count = pd.DataFrame(tiles[tiles["type"]=='owned']['owner'].value_counts().rename_axis('owner_address').reset_index(name='counts'))

In [8]:
len(owner_count)

6137

In [9]:
owner_count.head(3)

                                owner_address  counts
0  0x1463b7162103247c5d464f104f7c9da61dea1bfc    3548
1  0xb096e691b197e4622bc0033a2efda76082b33783    1527
2  0x5326a48a8badfbbf2fb6c4a03ae6685919e3040f    1397

In [ ]:
plt.figure(figsize= (30,10))
plt.boxplot(owner_count['counts'], vert=0)
plt.xscale('log')
plt.show()